<div class="nested-fields">
  <%= f.input :name, label: "Passenger Name" %>
  <%= f.input :email, label: "Passenger Email" %>
  <%= link_to_remove_association "Remove Passenger", f, class:  "btn btn-danger" %>
</div>
<br>